#play{
	margin-top: 500px;
	margin-left: 640px;
}
#b2{
    margin-top: -520px;
	margin-left: 250px;
}
#b3{
	margin-top: -70px;
	margin-left: 560px;
}
#p1{
    margin-top: 115px;
	margin-left: 10px;
	float: left;
}
#p2{
	margin-top: 115px;
	margin-right: 5px;
	float: right;
}
